/Practice/LianjiaHousePrice.xlsx
/cache/
/Kaggle/Titanic/predict.csv
/Kaggle/Titanic/predict_2.csv
/Kaggle/IMDB/aclImdb/
/Kaggle/Titanic/logistic_pred.csv
!/ScoringCard/all_data_woe.csv
ScoringCard/all_data_woe.csv
