# 忽略任何目录下的.ipynb_checkpoints文件夹
.ipynb_checkpoints/
# 忽略任何目录下的 _pychache_文件夹
__pycache__/
/.idea

/Kaggle/Titanic/predict.csv
/Kaggle/Titanic/predict_2.csv
/Kaggle/IMDB/aclImdb/
/Kaggle/Titanic/logistic_pred.csv

/Practice/LianjiaHousePrice.xlsx
/Practice/TensorFlow-Saved-Models/*
/Practice/TensorBoard-Logs/*
/Practice/datasets/PTB-simple-examples/

/ScoringCard/all_data_woe.csv
/datasets/Digit-Recognizor.csv
