# 忽略任何目录下的.ipynb_checkpoints文件夹
.ipynb_checkpoints/
# 忽略任何目录下的 _pychache_文件夹
__pycache__/
# 忽略任何目录下的 dataset 文件夹
dataset/
/datasets/*

/.idea

/BERT-source-codes/bert-pre-trained-models/
/BERT-source-codes/output/
/DeepLearning-Actions/TensorBoard-Logs/
/DeepLearning-Actions/TensorFlow-Saved-Models/
/DataMining-Actions/LianjiaHousePrice.xlsx
/DeepLearning-Actions/TensorFlow-Saved-Models/*
/DeepLearning-Actions/TensorBoard-Logs/*
/bert-pretrained-models/
